<div class="grid py-5 px-7">
    <section class="col-12 lg:col-6 lg:pl-3 pt-5">
        <h1 class="pb-5">Build Your Ultimate MTG Deck</h1>
        <p class="pb-5">Create, strategize, and dominate the battlefield with our ManaVault.</p>
    
        <p class="card flex justify-content-center py-5">
            Let's build your powerful deck
            <a routerLink="/register" class="p-button font-bold no-underline mx-3">
                Sign Up
            </a>
        </p>
    
        <div class="testimonial">
            <div class="rating">
                <i class="pi pi-star-fill" style="color: orange"></i>
                <i class="pi pi-star-fill" style="color: orange"></i>
                <i class="pi pi-star-fill" style="color: orange"></i>
                <i class="pi pi-star-fill" style="color: orange"></i>
                <i class="pi pi-star-fill" style="color: orange"></i>
                <span> | Deck Building | Strategy</span>
                <div class="flex">
                    <p-avatar
                    image="https://i.postimg.cc/J49PfDXr/nao.jpg"
                    styleClass="p-mr-2"
                    shape="circle"
                  ></p-avatar>
                    <blockquote class="font-italic">"Boosted my win rate significantly."</blockquote>
                </div>
            </div>
        </div>
    </section>

    <section class="col flex justify-content-center">
        <img src="https://i.postimg.cc/mZNkfWXW/photo-1578634383009-bc0448eb3ca7.jpg" alt="" class="w-8 justify-content-center">
    </section>
</div>
    
<div class="grid py-8">
    <div class="col col-offset">
        <h1 class="text-center">Build Your Ultimate MTG Deck</h1>
        <p class="text-center">Create, strategize, and dominate the battlefield with our ManaVault.</p>
    </div>
</div>

<div class="grid py-5 px-7 ">
    <section class="col-12 lg:col-6">
        <img src="https://images.unsplash.com/photo-1504991876276-ac34fe34cdd6" alt="" class="w-8 justify-content-center">
    </section>
    
    <section class="col">
        <h3>Choose from a vast card selection</h3>
        <p>Our ManaVault offers access to a wide array of Magic the Gathering cards, allowing you to create a deck tailored to your playstyle and strategy preferences.</p>
    </section>
</div>

<div class="grid py-5 px-7">
    <section class="col-12 lg:col-6">
        <h3>Develop winning strategies</h3>
        <p>With our tool, you can experiment with different card combinations and strategies to craft a powerful deck that can outsmart your opponents and lead you to victory.</p>
    </section>
    <section class="col">
        <img src="https://images.unsplash.com/photo-1586513677534-b926f5477204" alt="" class="w-8 justify-content-center">
    </section>
</div>
    
<div class="grid py-5 px-7">
    <div class="col-12 lg:col-6">
        <img src="https://images.unsplash.com/flagged/photo-1552111315-86e3577ec8e4" alt="" class="w-8 justify-content-center">
    </div>
    <div class="col">
        <h3>
            Dominate the battlefield
        </h3>
        <p>
            Take your gameplay to the next level by using our Magic Deck Maker to build a deck that will help you dominate the battlefield and achieve success in your matches.
        </p>
    </div>
</div>
