<footer class="fixed bottom-0 w-screen p-3">
    <section class="section__footer">
        <div class="flex row">
            <div class="col-4">
                <h4>about me</h4>
                <ul class="list-none">
                    <li><a href="#" class="no-underline">about me</a></li>
                    <li><a href="#" class="no-underline">my services</a></li>
                </ul>
            </div>
            <div class="col-4">
                <h4>faq</h4>
                <ul class="list-none">
                    <li><a href="#" class="no-underline">faq</a></li>
                    <li><a href="#" class="no-underline">privacy policy</a></li>
                    <li><a href="#" class="no-underline">contact</a></li>
                </ul>
            </div>
        </div>
        <p class="align-items-center justify-content-center">2024 ©Nao Mukai</p>
    </section>
</footer>
