<div class="card">
    <p-menubar [model]="navItems">
        <ng-template pTemplate="start">
            <a [routerLink]="'/'">
                <img src="https://i.postimg.cc/BQW1LG3Y/logo.png" alt="Logo" width="40" height="40" />
            </a>
        </ng-template>
        <ng-template pTemplate="item" let-item let-root="root">
            <a pRipple class="flex align-items-center p-menuitem-link" [routerLink]="item.routerLink">
                <span [class]="item.icon"></span>
                <span class="ml-2">{{ item.label }}</span>
              
            </a>
        </ng-template>
        <ng-template pTemplate="end">
            <div class="flex align-items-center gap-2">
                <a [routerLink]="'/login'">
                    <p-avatar image="https://i.postimg.cc/xTKNLFT0/avaterdefault.png" shape="circle" />
                </a>
            </div>
            @if(authService.state$()){
                <div>
                    <!-- {{authService.currentUserSig()?.username}} -->
                    <span (click)="logOut()">Logout</span>
                </div>
            }

            <div class="card flex justify-content-center">
                <p-button label="Sign In" (click)="menu.toggle($event)" />
                <p-tieredMenu #menu [model]="toggleButtonItems" [popup]="true" />
            </div>
        </ng-template>
    </p-menubar>
</div>