<div class="card flex flex-wrap justify-content-center gap-3 py-5 relative">
    <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-search" />
        <input type="text" pInputText placeholder="Search" />
    </p-iconField>
</div>

<p class="flex justify-content-center text-center text-300 text-8xl">mgt</p>
<div class="card flex justify-content-center">
    <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">
        <ng-template pTemplate="header">
            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
        </ng-template>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
            quas!
        </p>
        <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
                <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                <p-button label="Save" class="w-full" styleClass="w-full" />
            </div>
        </ng-template>
    </p-card>
</div>

<div class="grid">
    @for (card of cards(); track card.id){
        <app-card 
            [card]="card"
            >

        </app-card>
        <!-- (onIncrementQuantity)="updateCard(card, $event)" -->

    }
</div>

<div class="card flex justify-content-center gap-2">
    <p-tag value="Primary"/>
    <p-tag severity="success" value="Success"/>
    <p-tag severity="secondary" value="Secondary"/>
    <p-tag severity="info" value="Info"/>
    <p-tag severity="warning" value="Warning"/>
    <p-tag severity="danger" value="Danger"/>
    <p-tag severity="contrast" value="Contrast"/>
</div>