<section class="section__register">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <div class="card card-small">
            <div class="col-12 flex align-items-center justify-content-center">
                <div class="p-fluid">
                    <div class="field form-group">
                        <label for="email">Email</label>
                        <input pInputText name="email" type="email" ngModel required #name="ngModel" />
                    
                    </div>
                    <div class="field form-group">
                        <label for="password">Password</label>
                        <input pInputText name="password" type="password" ngModel required />
                    </div>
                    <p-button label="Login" type="submit"></p-button>
                </div>
            </div>
            <div class="col-12">
                <p-divider layout="horizontal" class="short-devider" width="30">
                    <b>OR</b>
                </p-divider>
            </div>
            <div class="col-12 flex align-items-center justify-content-center">
                <a [routerLink]="'/register'">
                    <p-button label="Sign Up" icon="pi pi-user-plus" styleClass="p-button-success"></p-button>
                </a>
            </div>
        </div>
    </form>
</section>

<!-- <section class="section__register">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <div class="card card-small">
            <div class="col-12 flex align-items-center justify-content-center">
                <div class="p-fluid">
                    <div class="field form-group">
                        <label for="email">Email</label>
                        <input pInputText name="email" type="email" ngModel required #name="ngModel" />
                    
                    </div>
                    <div class="field form-group">
                        <label for="password">Password</label>
                        <input pInputText name="password" type="password" ngModel required />
                    </div>
                    <p-button label="Login" type="submit"></p-button>
                </div>
            </div>
            <div class="col-12">
                <p-divider layout="horizontal" class="short-devider" width="30">
                    <b>OR</b>
                </p-divider>
            </div>
            <div class="col-12 flex align-items-center justify-content-center">
                <a [routerLink]="'/register'">
                    <p-button label="Sign Up" icon="pi pi-user-plus" styleClass="p-button-success"></p-button>
                </a>
            </div>
        </div>
    </form>
</section> -->
