<div class="container grid">

    <section class="section__landing--1 col lg:pl-3 pt-5">
        <h1 class="pb-5">Build Your Ultimate MTG Deck</h1>
        <p class="pb-5">Create, strategize, and dominate the battlefield with our ManaVault.</p>
        
        
        <p class="card flex justify-content-center">
            <p-button label="Sign Up" icon="pi pi-check" />
            <!-- <p-button label="Submit" icon="pi pi-check" iconPos="right" /> -->
        </p>
    
        <div class="testimonial">
            <div class="rating">
                <i class="pi pi-star" style="color: orange"></i>
                <i class="pi pi-star" style="color: orange"></i>
                <i class="pi pi-star" style="color: orange"></i>
                <i class="pi pi-star" style="color: orange"></i>
                <i class="pi pi-star" style="color: orange"></i>
                <span>| Deck Building | Strategy</span>
                <blockquote class="font-italic">"Boosted my win rate significantly."</blockquote>
                <p class="author">Nao</p>
            </div>
        </div>
    </section>

    <section class="section__landing--2 col flex justify-content-center">
        <img src="https://i.postimg.cc/mZNkfWXW/photo-1578634383009-bc0448eb3ca7.jpg" alt="" class="w-8 justify-content-center">
    </section>
</div>
<div class="grid">
    <section class="section__landing--3">
        <h1>Build Your Ultimate MTG Deck</h1>
        <p>Create, strategize, and dominate the battlefield with our ManaVault.</p>
    </section>

    <section class="section__landing--4">
        <img src="https://images.unsplash.com/photo-1504991876276-ac34fe34cdd6" alt="" class="w-8">
    </section>
</div>
