<div class="flex-initial flex flex-column">
    <div class="flex align-items-center justify-content-center h-4rem">
        <p>MANA VAULT</p>
    </div>
    
    <div class="flex align-items-center justify-content-center h-4rem">
        <span>Search your Magic</span>
    </div>

    <div class="flex align-items-center justify-content-center my-3">
        <p>Advanced Search</p>
    </div>
    
    <div class="flex align-items-center justify-content-center">
        <div class="card flex flex-column md:flex-column">
            <p-inputGroup class="w-full">
                <button type="submit" pButton label="Search"></button>
                <input type="text" pInputText placeholder="Keyword" />
            </p-inputGroup>
        </div>
    </div>
</div>